body{
    background-image: url(images/vanta.jpg);
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: "waltograph";
    src: url(fonts/waltograph/waltograph42.otf);
    font-weight: 300 800;
    font-style: normal;
}

*{
    padding: 0%;
    margin: 0%;
}

.header{
    text-align: center;
    width: 100%;
    height: 75px;
    background-color: darkslateblue;
    opacity: 1;
    padding: 25% 0%;
    
    
}

.header h1{
    text-shadow: 2px 2px 4px #000000;
    font-family: waltograph;
    font-size: 800%;
    color: #F64C72;
}

.header h3{
    text-shadow: 2px 2px 4px #000000;
    font-family: waltograph;
    font-size: 200%;
    color: whitesmoke
}

.nav{
    float: right;
    height: 50px;
    line-height: normal;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav ul{
    font-family: waltograph;
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #303030;
    overflow: hidden;
}

.nav li{
    display: inline;
    float: left;
    overflow: hidden;
}

.nav a{
    display: block;
    text-shadow: 2px 2px 4px #000000;
    color: ghostwhite;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: grey
    
}

.center{
    height: 500px;
    padding: 0% 10% 10% 10%;
    border-radius: 25px;
    margin: 10% 10% 5% 10%;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2); 
}

.center h2{
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: #F64C72;
    font-family: waltograph;
    font-size: 700%;
    
}

.center p{
    text-indent: 5%;
    float: left;
    color: ghostwhite;
    font-size: 175%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding-top: 0%;
}

.bottom{
    height: 500px;
    border-radius: 25px;
    padding: 0% 10% 10% 10%;
    background-color: grey;
    margin: 5% 10%;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2); 
}

.bottom h2{
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: #F64C72;
    font-family: waltograph;
    font-size: 700%;
    padding: 0% 0% 0% 0%;
}

.bottom p{
    text-indent: 5%;
    float: left;
    color: ghostwhite;
    font-size: 175%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding-top: 2%;
}

.tail{
    border-radius: 25px;
    padding: 30% 10%;
    
    margin: 5% 10%;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2); 
}

.footer{
    font-family: waltograph;
    font-size: xx-large;
    color: ghostwhite;
    clear: both;
    position: relative;
    height: 100%;
    margin-top: 50%;
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2); 
}